:root {
  --app-background: #f1f4f9;
  --app-background-aside: #091336;
  --white: white;
  --grey-text-light: #899cb1;
  --grey-source: #5e7793;
  --green-analytic: #28a879;
  --green-yellow: #ffd500;
  --green-red: #ea1a4f;
  --blue-active: #002b8c;
  --blue-hover: #002cfb;
  --blue-text-dark: #122945;
  --blue-checked: #adbfdf;
  --blue-selected-row: rgba(212, 223, 243, 0.17);
  --indentSide: calc(100% - 240px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  white-space: nowrap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
